/* CEOEL Branding */
.post-type-archive-branding .content, .tax-branding_guideline .content {
  min-height: 0;
  padding-top: 10px;
  padding-top: 1rem; }
  .post-type-archive-branding .content .page-header, .tax-branding_guideline .content .page-header {
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
    border-bottom: .1rem solid #e7e7e7;
    margin-bottom: 16px;
    margin-bottom: 1.6rem; }
    .post-type-archive-branding .content .page-header .page-title, .tax-branding_guideline .content .page-header .page-title {
      font-size: 32px;
      font-size: 3.2rem;
      color: #4d4d4d;
      font-weight: 700; }
    .post-type-archive-branding .content .page-header .branding-cat-nav, .tax-branding_guideline .content .page-header .branding-cat-nav {
      margin-top: 16px;
      margin-top: 1.6rem; }
      .post-type-archive-branding .content .page-header .branding-cat-nav ul, .tax-branding_guideline .content .page-header .branding-cat-nav ul {
        margin: 0;
        padding: 0;
        list-style: none; }
        .post-type-archive-branding .content .page-header .branding-cat-nav ul li, .tax-branding_guideline .content .page-header .branding-cat-nav ul li {
          position: relative;
          display: inline-block;
          margin: 0 0 6px;
          margin: 0 0 .6rem;
          padding: 0;
          border-right: 1px solid #e7e7e7;
          border-right: .1rem solid #e7e7e7; }
          .post-type-archive-branding .content .page-header .branding-cat-nav ul li a, .tax-branding_guideline .content .page-header .branding-cat-nav ul li a {
            display: block;
            padding: 0 6px 2px 3px;
            padding: 0 .6rem .2rem .3rem;
            font-size: 14px;
            font-size: 1.4rem;
            color: #666;
            font-weight: normal;
            line-height: normal; }
        .post-type-archive-branding .content .page-header .branding-cat-nav ul li:first-child a, .tax-branding_guideline .content .page-header .branding-cat-nav ul li:first-child a {
          padding-left: 0; }
        .post-type-archive-branding .content .page-header .branding-cat-nav ul li:last-child, .tax-branding_guideline .content .page-header .branding-cat-nav ul li:last-child {
          border-right: none; }
          .post-type-archive-branding .content .page-header .branding-cat-nav ul li:last-child a, .tax-branding_guideline .content .page-header .branding-cat-nav ul li:last-child a {
            padding-right: 0; }
        .post-type-archive-branding .content .page-header .branding-cat-nav ul .current-cat a, .tax-branding_guideline .content .page-header .branding-cat-nav ul .current-cat a {
          color: blue; }
  .post-type-archive-branding .content .branding-entries .branding_term_title, .tax-branding_guideline .content .branding-entries .branding_term_title {
    background-color: #e7e7e7;
    color: #666;
    font-size: 24px;
    font-size: 2.4rem;
    font-weight: normal;
    padding: 2px 16px 4px;
    padding: .2rem 1.6rem .4rem;
    margin: 16px 0 0;
    margin: 1.6rem 0 0; }
  .post-type-archive-branding .content .branding-entries .branding_items_wrapper, .tax-branding_guideline .content .branding-entries .branding_items_wrapper {
    width: 100%;
    list-style: none;
    padding: 0 16px;
    padding: 0 1.6rem;
    margin: 16px 0;
    margin: 1.6rem 0;
    float: none;
    clear: both; }
    .post-type-archive-branding .content .branding-entries .branding_items_wrapper li, .tax-branding_guideline .content .branding-entries .branding_items_wrapper li {
      width: 50%;
      padding: 5px;
      padding: .5rem;
      margin: 0;
      float: left; }
      .post-type-archive-branding .content .branding-entries .branding_items_wrapper li a, .tax-branding_guideline .content .branding-entries .branding_items_wrapper li a {
        display: block;
        width: 100%;
        height: auto;
        color: #fff;
        text-align: center;
        background-color: #83B5B7; }
        .post-type-archive-branding .content .branding-entries .branding_items_wrapper li a .brand-thumb, .tax-branding_guideline .content .branding-entries .branding_items_wrapper li a .brand-thumb {
          width: 100%;
          height: auto; }
      .post-type-archive-branding .content .branding-entries .branding_items_wrapper li a:hover, .tax-branding_guideline .content .branding-entries .branding_items_wrapper li a:hover {
        background-color: #003DA6; }
  .post-type-archive-branding .content .branding-entries .branding_items_wrapper:after, .tax-branding_guideline .content .branding-entries .branding_items_wrapper:after {
    clear: both;
    content: " ";
    display: table; }
.post-type-archive-branding .full-width, .tax-branding_guideline .full-width {
  width: 100%; }

.single-branding .page-header {
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
  border-bottom: .1rem solid #e7e7e7;
  padding: 0 30px 16px;
  padding: 0 3rem 1.6rem;
  margin: 0;
  background-color: #fff; }
  .single-branding .page-header .page-title {
    margin: 0;
    font-size: 32px;
    font-size: 3.2rem;
    color: #4d4d4d;
    font-weight: 700; }
  .single-branding .page-header .branding-cat-nav {
    margin-top: 16px;
    margin-top: 1.6rem; }
    .single-branding .page-header .branding-cat-nav ul {
      margin: 0;
      padding: 0;
      list-style: none; }
      .single-branding .page-header .branding-cat-nav ul li {
        position: relative;
        display: inline-block;
        margin: 0 0 6px;
        margin: 0 0 .6rem;
        padding: 0;
        border-right: 1px solid #e7e7e7;
        border-right: .1rem solid #e7e7e7; }
        .single-branding .page-header .branding-cat-nav ul li a {
          display: block;
          padding: 0 6px 2px 3px;
          padding: 0 .6rem .2rem .3rem;
          font-size: 14px;
          font-size: 1.4rem;
          color: #666;
          font-weight: normal;
          line-height: normal; }
      .single-branding .page-header .branding-cat-nav ul li:first-child a {
        padding-left: 0; }
      .single-branding .page-header .branding-cat-nav ul li:last-child {
        border-right: none; }
        .single-branding .page-header .branding-cat-nav ul li:last-child a {
          padding-right: 0; }
.single-branding .content .type-branding .entry-content img {
  margin-bottom: 0; }
.single-branding .content .type-branding .entry-content .callout {
  padding: 20px;
  padding: 2rem;
  margin: 0 0 15px;
  margin: 0 0 1.5rem;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-left-width: .5rem;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  border-radius: 0.3rem; }
  .single-branding .content .type-branding .entry-content .callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
    margin-bottom: .5rem;
    font-size: 14px;
    font-size: 1.4rem; }
  .single-branding .content .type-branding .entry-content .callout p:last-child {
    margin-bottom: 0; }
.single-branding .content .type-branding .entry-content .callout.info {
  border-left-color: #1b809e; }
  .single-branding .content .type-branding .entry-content .callout.info h4 {
    color: #1b809e; }
.single-branding .content .type-branding .entry-content .callout.danger {
  border-left-color: #ce4844; }
  .single-branding .content .type-branding .entry-content .callout.danger h4 {
    color: #ce4844; }
.single-branding .content .type-branding .entry-content .callout.warning {
  border-left-color: #aa6708; }
  .single-branding .content .type-branding .entry-content .callout.warning h4 {
    color: #aa6708; }
.single-branding .content .type-branding .entry-content .callout.success {
  border-left-color: #5cb85c; }
  .single-branding .content .type-branding .entry-content .callout.success h4 {
    color: #5cb85c; }

@media screen and (min-width: 768px) {
  .post-type-archive-branding .content .page-header, .tax-branding_guideline .content .page-header {
    clear: both; }
    .post-type-archive-branding .content .page-header .page-title, .tax-branding_guideline .content .page-header .page-title {
      width: 50%;
      float: left; }
    .post-type-archive-branding .content .page-header .branding-cat-nav, .tax-branding_guideline .content .page-header .branding-cat-nav {
      width: 50%;
      float: left; }
  .post-type-archive-branding .content .page-header:after, .tax-branding_guideline .content .page-header:after {
    clear: both;
    content: " ";
    display: table; }
  .post-type-archive-branding .content .breadcrumb, .tax-branding_guideline .content .breadcrumb {
    float: none;
    clear: both; }
  .post-type-archive-branding .content .branding-entries .branding_items_wrapper, .tax-branding_guideline .content .branding-entries .branding_items_wrapper {
    float: none;
    clear: both; }
    .post-type-archive-branding .content .branding-entries .branding_items_wrapper li, .tax-branding_guideline .content .branding-entries .branding_items_wrapper li {
      width: 20%;
      float: left; }

  .single-branding .page-header .page-title {
    width: 50%;
    float: left; }
  .single-branding .page-header .branding-cat-nav {
    width: 50%;
    float: left; }
  .single-branding .page-header:after {
    clear: both;
    content: " ";
    display: table; } }
@media screen and (min-width: 1025px) {
  .post-type-archive-branding .content .page-header .page-title, .tax-branding_guideline .content .page-header .page-title {
    width: 40%; }
  .post-type-archive-branding .content .page-header .branding-cat-nav, .tax-branding_guideline .content .page-header .branding-cat-nav {
    width: 60%; }

  .single-branding .page-header .page-title {
    width: 40%;
    float: left; }
  .single-branding .page-header .branding-cat-nav {
    width: 60%;
    float: left; } }
@media screen and (min-width: 1201px) {
  .post-type-archive-branding .content .page-header .page-title, .tax-branding_guideline .content .page-header .page-title {
    width: 33%; }
  .post-type-archive-branding .content .page-header .branding-cat-nav, .tax-branding_guideline .content .page-header .branding-cat-nav {
    width: 67%; }

  .single-branding .page-header .page-title {
    width: 33%;
    float: left; }
  .single-branding .page-header .branding-cat-nav {
    width: 67%;
    float: left; } }
