/* .tax-participants */
.post-type-archive-showcase #header-top,
.post-type-archive-showcase #content,
.post-type-archive-showcase #primary,
.post-type-archive-showcase #site-navigation,
.showcase-term #header-top,
.showcase-term #content,
.showcase-term #primary,
.showcase-term #site-navigation,
.single-showcase #header-top,
.single-showcase #content,
.single-showcase #primary,
.single-showcase #site-navigation {
    
    background-color: #343434;
    color: #fff;
    
}

.post-type-archive-showcase  a,
.showcase-term a,
.single-showcase a {
    
    color: #2f7dbd;
    text-decoration: underline;
    
}

.post-type-archive-showcase #site-navigation a,
.showcase-term #site-navigation a,
.single-showcase #site-navigation a {
    
    color: #fff;
    
}

.post-type-archive-showcase #site-navigation a:hover,
.showcase-term #site-navigation a:hover,
.single-showcase #site-navigation a:hover {
    
    color: #000;
    
}

.post-type-archive-showcase #site-navigation ul ul a,
.showcase-term #site-navigation ul ul a,
.single-showcase #site-navigation ul ul a {
    
    background-color: #828282;
    
}

.post-type-archive-showcase .current-menu-item,
.showcase-term .current-menu-item,
.single-showcase .current-menu-item {
    
    background-color: #fff;
    
}

.post-type-archive-showcase .current-menu-item a,
.showcase-term .current-menu-item a,
.single-showcase .current-menu-item a {
    
    font-weight: bold !important;
    color: #333 !important;
    
}

.post-type-archive-showcase .main_logo,
.showcase-term .main_logo,
.single-showcase .main_logo {
    
    -webkit-filter: invert(100%);
    filter: invert(100%);
    
}

.post-type-archive-showcase #primary,
.showcase-term #primary {
    
    width: 100%;
    
}

@media screen and (min-width: 800px) {
    
    .single-showcase #primary #main .type-showcase {
    
        width: 70%;
        margin: 0 auto;
        padding: 0;
        
    }
    
}


.single-showcase #primary #main .type-showcase .entry-header .entry-title {
    
    color: #fff;
    
}

.single-showcase #primary #main .type-showcase .entry-header a {
    
    text-decoration: none;
    
}

.single-showcase #primary #main .type-showcase .entry-header a:hover {
    
    text-decoration: underline;
    
}

.single-showcase #primary #main .type-showcase .entry-content * {
    
    color: #fff;
    
}

.post-type-archive-showcase a,
.showcase-term a,
.single-showcase a {
    
    color: #fff;
    text-decoration: none;
    
}

.post-type-archive-showcase a,
.showcase-term a,
.single-showcase a:hover {
    
    text-decoration: underline;
    
}

.post-type-archive-showcase .content-area .page-header .page-title,
.showcase-term .content-area .page-header .page-title,
.single-showcase .content-area .page-header .page-title {
    
    display: block;
    text-transform: none;
    color: #fff;
    text-decoration: none;
    border-bottom: none;
    font-size: 42px;
    
}

.post-type-archive-showcase .content-area .page-header .showcase-view-all,
.showcase-term .content-area .page-header .showcase-view-all,
.single-showcase .content-area .page-header .showcase-view-all {
    
    text-decoration: none;
    
}

.post-type-archive-showcase .content-area .page-header .showcase-view-all:hover,
.showcase-term .content-area .page-header .showcase-view-all:hover,
.single-showcase .content-area .page-header .showcase-view-all:hover {
    
    background-color: #fff;
    color: #333;
    
}

.post-type-archive-showcase .showcase-cat-nav,
.showcase-term .showcase-cat-nav,
.single-showcase .showcase-cat-nav {
    
    margin-bottom: 0;
    
}

.post-type-archive-showcase .showcase-cat-nav ul li a,
.showcase-term .showcase-cat-nav ul li a,
.single-showcase .showcase-cat-nav ul li a {
    
    text-decoration: none;
}

.post-type-archive-showcase .showcase-cat-nav ul li a:hover,
.showcase-term .showcase-cat-nav ul li a:hover,
.single-showcase .showcase-cat-nav ul li a:hover {
    
    text-decoration: none;
    background-color: #fff;
    color: #333;
    
}

.post-type-archive-showcase .showcase-cat-nav ul .current-cat a,
.showcase-term .showcase-cat-nav ul .current-cat a,
.single-showcase .showcase-cat-nav ul .current-cat a,
.post-type-archive-showcase .showcase-cat-nav ul .current-cat-parent a,
.showcase-term .showcase-cat-nav ul .current-cat-parent a,
.single-showcase .showcase-cat-nav ul .current-cat-parent a {
    
    color: #333;
    background-color: #fff;
    
}

.post-type-archive-showcase .showcase-cat-nav ul .cat-parent a::after,
.showcase-term .showcase-cat-nav ul .cat-parent a::after,
.single-showcase .showcase-cat-nav ul .cat-parent a::after {
    
    color: inherit;
    
}

.post-type-archive-showcase .showcase-cat-nav ul .cat-parent ul li a,
.showcase-term .showcase-cat-nav ul .cat-parent ul li a,
.single-showcase .showcase-cat-nav ul .cat-parent ul li a {
    
    color: #fff;
    
}

.post-type-archive-showcase .showcase-cat-nav ul .current-cat-parent .current-cat a,
.showcase-term .showcase-cat-nav ul .current-cat-parent .current-cat a,
.single-showcase .showcase-cat-nav ul .current-cat-parent .current-cat a,
.post-type-archive-showcase .showcase-cat-nav ul .current-cat-parent .current-cat-parent a,
.showcase-term .showcase-cat-nav ul .current-cat-parent .current-cat-parent a,
.single-showcase .showcase-cat-nav ul .current-cat-parent .current-cat-parent a {
    
    color: #333;
    background-color: #fff;
    
}

.post-type-archive-showcase .showcase-cat-nav ul li ul li a:hover,
.showcase-term .showcase-cat-nav ul li ul li a:hover,
.single-showcase .showcase-cat-nav ul li ul li a:hover {
    
    background-color: #5b5b5b;
    
}

.post-type-archive-showcase .content-area .secondary-title,
.showcase-term .content-area .secondary-title,
.single-showcase .content-area .secondary-title {
    
    padding: 0;
    font-weight: bold;
    font-size: 30px;
    
}

.post-type-archive-showcase .content-area .showcase-entries,
.showcase-term .content-area .showcase-entries {
    
    padding: 0;
    
}

.post-type-archive-showcase .content-area .showcase-entries .type-showcase,
.showcase-term .content-area .showcase-entries .type-showcase {
    
    padding: 0;
    
}

.post-type-archive-showcase .content-area .showcase-entries .type-showcase .entry-header,
.showcase-term .content-area .showcase-entries .type-showcase .entry-header {
    
    margin-bottom: 0 !important;
    
}

.post-type-archive-showcase .content-area .showcase-entries .type-showcase .entry-header .entry-title,
.showcase-term .content-area .showcase-entries .type-showcase .entry-header .entry-title {
    
    margin-top: 0;
    margin-bottom: 5px;
    
}

.post-type-archive-showcase .content-area .showcase-entries .type-showcase .entry-header .entry-title a,
.showcase-term .content-area .showcase-entries .type-showcase .entry-header .entry-title a {
    
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    
}

.post-type-archive-showcase .content-area .showcase-entries .type-showcase .entry-content,
.showcase-term .content-area .showcase-entries .type-showcase .entry-content {
    
    color: #fff;
    margin-top: 5px;
    
}