@import "compass/utilities/general/clearfix";

/* CEOEL Branding */

.post-type-archive-branding {
    
    .content {
        
        min-height: 0;
        padding-top: 10px;
        padding-top: 1rem;
        
        .page-header {
            
            width: 100%;
            border-bottom: 1px solid #e7e7e7;
            border-bottom: .1rem solid #e7e7e7;
            margin-bottom: 16px;
            margin-bottom: 1.6rem;
            
            .page-title {
                
                font-size: 32px;
                font-size: 3.2rem;
                color: #4d4d4d;
                font-weight: 700;
                
            }
            
            .branding-cat-nav {
                
                margin-top: 16px;
                margin-top: 1.6rem;
                
                ul {
                    
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    
                    li {
                        
                        position: relative;
                        display: inline-block;
                        margin: 0 0 6px;
                        margin: 0 0 .6rem;
                        padding: 0;
                        border-right: 1px solid #e7e7e7;
                        border-right: .1rem solid #e7e7e7;
                        
                        a {
                            
                            display: block;
                            padding: 0 6px 2px 3px;
                            padding: 0 .6rem .2rem .3rem;
                            font-size: 14px;
                            font-size: 1.4rem;
                            color: #666;
                            font-weight: normal;
                            line-height: normal;
                            
                        }
                                        
                    }
                    
                    li:first-child {
                        
                        a {
                            
                            padding-left: 0;
                            
                        }
                        
                    }
                    
                    li:last-child {
                        
                        border-right: none;
                        
                        a {
                            
                            padding-right: 0;
                            
                        }
                        
                    }
                    
                    .current-cat {
                        
                        a {
                            
                            color: blue;
                            
                        }
                        
                    }
                    
                }
                
            } // .branding-cat-nav
            
        } // .page-header
        
        .branding-entries {
            
            .branding_term_title {
                
                background-color: #e7e7e7;
                color: #666;
                font-size: 24px;
                font-size: 2.4rem;
                font-weight: normal;
                padding: 2px 16px 4px;
                padding: .2rem 1.6rem .4rem;
                margin: 16px 0 0;
                margin: 1.6rem 0 0;
                
            }
            
            .branding_items_wrapper {
                
                width: 100%;
                list-style: none;
                padding: 0 16px;
                padding: 0 1.6rem;
                margin: 16px 0;
                margin: 1.6rem 0;
                float: none;
                clear: both;
                
                li {
                    
                    width: 50%;
                    padding: 5px;
                    padding: .5rem;
                    margin: 0;
                    float: left;
                    
                    a {
                        
                        display: block;
                        width: 100%;
                        height: auto;
                        color: #fff;
                        text-align: center;
                        background-color: #83B5B7;
                        
                        .brand-thumb {
                            
                            width: 100%;
                            height: auto;
                            
                        }
                        
                    }
                    
                    a:hover {
                        
                        background-color: #003DA6;
                        
                    }
                    
                }
                
            }
            
            .branding_items_wrapper:after {
                
                clear: both;
                content: " ";
                display: table;
                
            }
            
        } // .branding-entries
        
    } // .content
    
    .full-width {
        
        width: 100%;
        
    }
    
} // .post-type-archive-branding


.tax-branding_guideline {
    
    @extend .post-type-archive-branding;
    
}

.single-branding {
    
    .page-header {
            
        width: 100%;
        border-bottom: 1px solid #e7e7e7;
        border-bottom: .1rem solid #e7e7e7;
        padding: 0 30px 16px;
        padding: 0 3rem 1.6rem;
        margin: 0;
        background-color: #fff;
        
        .page-title {
            
            margin: 0;
            font-size: 32px;
            font-size: 3.2rem;
            color: #4d4d4d;
            font-weight: 700;
            
        }
        
        .branding-cat-nav {
            
            margin-top: 16px;
            margin-top: 1.6rem;
            
            ul {
                
                margin: 0;
                padding: 0;
                list-style: none;
                
                li {
                    
                    position: relative;
                    display: inline-block;
                    margin: 0 0 6px;
                    margin: 0 0 .6rem;
                    padding: 0;
                    border-right: 1px solid #e7e7e7;
                    border-right: .1rem solid #e7e7e7;
                    
                    a {
                        
                        display: block;
                        padding: 0 6px 2px 3px;
                        padding: 0 .6rem .2rem .3rem;
                        font-size: 14px;
                        font-size: 1.4rem;
                        color: #666;
                        font-weight: normal;
                        line-height: normal;
                        
                    }
                                    
                }
                
                li:first-child {
                    
                    a {
                        
                        padding-left: 0;
                        
                    }
                    
                }
                
                li:last-child {
                    
                    border-right: none;
                    
                    a {
                        
                        padding-right: 0;
                        
                    }
                    
                }
                
            }
            
        } // .branding-cat-nav
        
    } // .page-header
    
}

// tablet & up
@media screen and (min-width: 768px) {
    
    .post-type-archive-branding {
    
        .content {
            
            .page-header {
                
                clear: both;
                
                .page-title {
                    
                    width: 50%;
                    float: left;
                    
                }
                
                .branding-cat-nav {
                    
                    width: 50%;
                    float: left;
                    
                } // .branding-cat-nav
                
            } // .page-header
            
            .page-header:after {
                
                clear: both;
                content: " ";
                display: table;
                
            }
            
            .breadcrumb {
                
                float: none;
                clear: both;
                
            }
            
            .branding-entries {
                
                .branding_items_wrapper {
                    
                    float: none;
                    clear: both;
                    
                    li {
                        
                        width: 20%;
                        float: left;
                        
                    }
                    
                }
                
            } // .branding-entries
            
        } // .content
        
    } // .post-type-archive-branding
    
    .single-branding {
    
        .page-header {
            
            .page-title {
                
                width: 50%;
                float: left;
                
            }
            
            .branding-cat-nav {
                
                width: 50%;
                float: left;
                
            } // .branding-cat-nav
            
        } // .page-header
        
        .page-header:after {
            
            clear: both;
            content: " ";
            display: table;
            
        }
        
    }
    
} // end tablet

// desktop
@media screen and (min-width: 1025px) {
    
    .post-type-archive-branding {
    
        .content {
            
            .page-header {
                
                .page-title {
                    
                    width: 40%;
                    
                }
                
                .branding-cat-nav {
                    
                    width: 60%;
                    
                } // .branding-cat-nav
                
            } // .page-header
            
        }
            
    }
    
    .single-branding {
    
        .page-header {
            
            .page-title {
                
                width: 40%;
                float: left;
                
            }
            
            .branding-cat-nav {
                
                width: 60%;
                float: left;
                
            } // .branding-cat-nav
            
        } // .page-header
        
    }

}

// big desktop
@media screen and (min-width: 1201px) {
    
    .post-type-archive-branding {
    
        .content {
            
            .page-header {
                
                .page-title {
                    
                    width: 33%;
                    
                }
                
                .branding-cat-nav {
                    
                    width: 67%;
                    
                } // .branding-cat-nav
                
            } // .page-header
            
        }
            
    }
    
    .single-branding {
    
        .page-header {
            
            .page-title {
                
                width: 33%;
                float: left;
                
            }
            
            .branding-cat-nav {
                
                width: 67%;
                float: left;
                
            } // .branding-cat-nav
            
        } // .page-header
        
    }

}
