@import "compass/utilities/general/clearfix";
@import "compass/css3/border-radius";

/* CEOEL Branding */

.post-type-archive-branding {
    
    .branding-cat-nav {
        
        margin: 16px 0;
        
        ul {
            
            margin: 0;
            padding: 0;
            list-style: none;
            
            li {
                
                position: relative;
                display: block;
                width: 100%;
                margin: 0 0 6px;
                padding: 0;
                border-right: 1px solid #ccc;
                
                a {
                    
                    display: block;
                    padding: 0 6px 2px 3px;
                    font-size: 16px;
                    font-weight: normal;
                    line-height: normal;
                    
                }
                                
            }
            
            li:first-child {
                
                a {
                    
                    padding-left: 0;
                    
                }
                
            }
            
            li:last-child {
                
                border-right: none;
                
                a {
                    
                    padding-right: 0;
                    
                }
                
            }
            
            .current-cat {
                
                a {
                    
                    color: blue;
                    
                }
                
            }
            
        }
        
        .branding-view-all { }
        
    } // .branding-cat-nav
    
    .content-area {
        
        .page-header {
            
            .page-title {
                
                font-size: 28px;
                
            }
            
        }
        
        .secondary-title {
            
            padding: 15px;
            font-size: 24px;
            
        }
        
        .branding-entries {
            
            width: 100%;
            
            .type-branding {
                
                padding-top: 0;
                margin: 0 0 16px;
                
                .entry-thumb {
                    
                    padding: 15px;
                    
                    .branding-thumb {
                    
                        display: block;
                        width: 100%;
                        height: 100%;
                        
                    }
                    
                } // .entry-thumb
                
                .entry-header {
                    
                    padding: 0 15px;
                    
                    .entry-title {
                        
                        font-size: 20px;
                        margin-bottom: 5px;
                        
                    }
                    
                    .entry-meta {
                    
                        color: #888;
                        font-size: 14px;
                        margin: 5px 0 32px;
                        
                        a {
                            
                            font-size: 14px;
                            color: #888;
                            
                        }
                        
                    }
                    
                } // .entry-header
                
                .entry-content {
                    
                    padding: 0 15px 0;
                    
                } // .entry-content
                
            } // .type-branding
            
        } // .branding-entries
        
    }// .content-area
    
} // .post-type-archive-branding

.branding-term {
    
    @extend .post-type-archive-branding;
    
}

.single-branding {
    
    @extend .post-type-archive-branding;
    
    .content-area {
        
        .hentry {
            
            .entry-header {
                
                
                .entry-title {
                    
                    margin-bottom: 0;
                    
                }
                
                .entry-meta {
                    
                    font-size: 14px;
                    margin-bottom: 32px;
                    color: #888;
                    
                    a {
                        
                        color: #888;
                        
                    }
                    
                }
                
            }
            
            .entry-content {
                
                .entry-title {
                        
                    margin: 16px 0 0;
                    line-height: normal;
                    
                }
                
                .entry-meta {
                
                    color: #888;
                    font-size: 14px;
                    margin: 0 0 32px;
                    
                    a {
                        
                        font-size: 14px;
                        color: #888;
                        
                    }
                    
                }
                
            }
            
        }
        
        .hentry.has-post-thumbnail {
                
            padding-top: 48px;
            
        }
        
    }
    
}

// tablet
@media screen and (min-width: 619px) {
    
    .post-type-archive-branding {
    
        .branding-cat-nav {
            
            ul {
                
                li {
                    
                    position: relative;
                    display: inline-block;
                    width: auto;
                    
                    a {
                        
                        display: block;
                        min-width: 62px;
                        width: intrinsic;
                        
                    }
                    
                }
                
                .cat-parent {
                    
                    position: relative;
                    
                }
                
            }
            
        } // .branding-cat-nav
        
        .content-area {
            
            .secondary-title {
            
                padding-left: 7.6923%;
                padding-right: 7.6923%;
                
            }
            
            .branding-entries {
                
                padding-left: 7.6923%;
                padding-right: 7.6923%;
                
                .type-branding {
                    
                    width: 33.33%;
                    padding-top: 0;
                    margin: 0 0 16px;
                    float: left;
                    
                    .entry-thumb {
                        
                        padding: 15px;
                        
                        .branding-thumb {
                        
                            display: block;
                            width: 100%;
                            height: 100%;
                            
                        }
                        
                    } // .entry-thumb
                    
                    .entry-header {
                        
                        .entry-title {
                            
                            font-size: 20px;
                            
                        }
                        
                    } // .entry-header
                    
                    .entry-content {
                        
                        font-size: 14px;
                        line-height: 18px;
                        
                    } // .entry-content
                    
                } // .type-branding
                
                .type-branding:nth-child(n+4) {
                    
                    width: 25%;
                    
                    .entry-header {
                        
                        .entry-title {
                            
                            font-size: 18px;
                            
                        }
                        
                    } // .entry-header
                    
                    .entry-content {
                        
                        font-size: 12px;
                        line-height: 16px;
                        
                    } // .entry-content
                    
                }
                
            } // .branding-entries
            
            .branding-entries:after {
                
                @include clearfix();
                
            }
            
        }// .content-area
        
    } // .post-type-archive-branding
    
} // end tablet
